body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* Header section */

.hero-header {
  width: 100%;
  height: 698px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(./images/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #4E47FF;
}


.signup-btn {
  background-color: #4E47FF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.hero-content {
  text-align: center;
  margin-top: 158px;
  margin-bottom: 200px;
}

.hero-content h1 {
  font-size: 40px;
  font-weight: 700;
  color: #4E47FF;
  margin-bottom: 32px;
}

.focus-btn {
  background-color: #4E47FF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;

}

.focus-btn:hover,
.signup-btn:hover,
.action-btn:hover {
  background-color: #3730a3;
}

/* action section */

.action-section {
  width: 1140px;
  height: 328px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fafe;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 16px;
  gap: 32px;
  margin: 150px;
}

.action-text {
  width: 517px;
}

.action-text h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  
}

.action-text p {
  font-size: 16px;
  margin-bottom: 24px;
  color: #555;
}

.action-btn {
  background-color: #4E47FF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.action-image img {
  width: 403px;
  height: 328px;
  border-radius: 16px;
}


/* user section */

.user-section {
  width: 1140px;
  height: 306px;
  background-color: #E5E7FF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px;
}

.user-container {
  width: 856px;
  height: 206px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-container h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.user-stats {
  display: flex;
  gap: 48px;
}

.user-box {
  width: 180px;
  height: 121px;
  background-color: #E5E7FF;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-box h2 {
  font-family: 'Inter', sans-serif;
  font-size: 45px;
  color: #4E47FF;
  margin: 0;
}

.user-box p {
  font-size: 14px;
  color: #555;
}

/* review section */


.review-section {
  width: 1140px;
  height: 342px;
  background-color: #E5E7FF;
  padding: 20px;
  text-align: center;
  margin: 150px;
}

.review-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.review-cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  
}

.review-card {
  width: 367px;
  height: 243px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  padding: 20px;
  text-align: left;
  
}

.stars {
  margin-bottom: 10px;
}

.stars img {
  width: 16px;
  height: 16px;
}

.review-card h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 8px;
}

.review-card p {
  font-size: 14px;
  color: #444;
  margin-bottom: 16px;
}

.reviewer-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer-info img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.reviewer-info h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.reviewer-info p {
  margin: 2px 0 0;
  font-size: 12px;
  color: #888;
}